{% extends "base.html"%}

{% block main %}
<pre>
R O Y G B I Vs
</pre>
<p>
OpenGraph, Oembed, and Twitter Card header generation. <a href="/">Refresh</a> this page
to get more URLs or make your own!
</p>
<ul>
    <li>OpenGraph: <a href="/og/{{random_string}}">http://roygbivs.herokuapp.com/og/{{random_string}}</a></li>
    <li>Twitter Card: <a href="/twitter/{{random_string}}">http://roygbivs.herokuapp.com/twitter/{{random_string}}</a></li>
    <li>Oembed: <a href="/oembed/{{random_string}}">http://roygbivs.herokuapp.com/oembed/{{random_string}}</a></li>
</ul>
<p>
<a href="http://github.com/torrez/roygbivs/">source</a>
</p>
{% end %}
